*{margin:0px;padding: 0px}
.clear:after{
	height: 0px;
	clear: both;
	display: block;
	content: "";
	overflow: hidden;
}
.clear{-ms-zoom:1}
figure{
	position: relative;
	width: 33.33%;
	float: left;
	height: 320px;
	overflow: hidden;
}
.test1 figcaption{
	position: absolute;
	top:0px;
	left: 0px;
	font-family: "微软雅黑";
}
figure img{
  width: 100%;
  height: 320px;
  opacity: 0.8;
  transition:all 0.35s;
  cursor: pointer;
}
figure figcaption p{
  transition:all 0.35s;
  font-size: 20px;
}
figcaption h2{
	color: #fff;
	margin-left: 5px;
	transition:all 0.35s;
	transform:translate(0px,0px);	
}
@media screen and (max-width:600px){
	figure{width:100%}
}
@media screen and (min-width:601px) and (max-width:1000px){
	figure{width:50%}
}
@media screen and (min-width:1001px){
	figure{width:33.33%}
}

.test1{
	background-color: #2f0000;
}
.test1 figcaption p{
  background-color: #fff;
  color: pink;
  margin:5px;
  text-align: left;
  padding-left: 10px;
  padding-right: 12px;
  border-radius: 5px;
  transform:translate(-200px,0px);
}
.test1 figcaption{
	padding: 20px;
}
.test1:hover figcaption p{
	transform:translate(0px,0px);
}
.test1:hover figcaption h2{
	color: pink;
	transform:translate(0px,-10px);
}
.test1 figcaption p:nth-of-type(1){
	transition-delay:0.05s;
}
.test1 figcaption p:nth-of-type(2){
	transition-delay:0.1s;
}
.test1 figcaption p:nth-of-type(3){
	transition-delay:0.15s;
}

.test1 img:hover{
	opacity: 0.5;
}

.test2{
	background-color: #FFEC8B;
}
.test2 figcaption{
	position: absolute;
	bottom: 5px;
	right: 10px;
}
.test2 p{
	background-color: #fff;
	color: #FF8C00;
	margin:5px;
	padding:2px;
	border-radius: 4px;
	transform:translate(200px,0px);
}
.test2 figcaption h2{
	margin-bottom: 5px;
}
/* 动画 */
.test2:hover figcaption p{
 transform:translate(0px,0px);
}
.test2:hover figcaption h2{
 transform:translate(0px,-10px);
 	color: #FF8C00;
}
.test2 img:hover{
	opacity: 0.6;
}
.test2 figcaption p:nth-of-type(1){
	transition-delay:0.05s;
}
.test2 figcaption p:nth-of-type(2){
	transition-delay:0.1s;
}
.test2 figcaption p:nth-of-type(3){
	transition-delay:0.15s;
}

.test3{
	background-color:#32CD32;
}
/* 相对于富容器的百分比 */
.test3 figcaption{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.test3 figcaption h2{
 margin-top: 30%;
 margin-left: 30%;
 margin-bottom: 5px;
 transform:translate(0px,0px);
}
.test3 figcaption p{
 margin-left: 30%;
 color: #fff;
 cursor: pointer;
 transform:translate(0px,50px);
 opacity: 0;
}
.test3 figcaption div{
	border:2px solid #fff;
	width: 80%;
	height: 80%;
	position: absolute;
	top:10%;
	left: 10%;
	transform:translate(0px,-400px) rotate(0deg);
	transition:all .35s;
	 cursor: pointer;
}
.test3:hover figcaption div{
	transform:translate(0px,0px) rotate(360deg);
	border:2px solid #8968CD;
}
.test3:hover img{
 opacity: 0.8;
 transform:scale(1.2,1.2); 
}
.test3:hover figcaption p{
	transform:translate(0px,0px);
	opacity: 1;
}
.test3:hover figcaption h2{
 color: #8968CD;
 transform:translate(0px,-10px);
}

.test4{
	background-color: #ADADAD;
}
.test4 figcaption{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0px;
	left: 0px;
	cursor: pointer;
}
.test4 figcaption h2{
	margin-top: 10%;
	margin-left: 20%;
	margin-bottom: 10px;
    transform:translate(0px,0px);	
}
.test4 figcaption p{
	margin-left: 20%;
	cursor: pointer;
    transform:translate(0px,50px);
    opacity: 0;
    color: #fff;
}
.test4 figcaption div{
	width: 80%;
	height: 80%;
	border:2px solid #fff;
    position: absolute;
    top:10%;
    left: 10%;
    // border-radius: 50%;
    // -webkit-border-radius:50%;
    cursor: pointer;
    transform:translate(0px,400px) rotate(-360deg);
    transition:all .35s;
}
.test4:hover figcaption div{
    transform:translate(0px,0px) rotate(0deg);
    border:2px solid #CD4F39;
}
.test4:hover figcaption h2{
	transform:translate(0px,-10px);
	color: #CD4F39;
}
.test4:hover  figcaption p{
	transform:translate(0px,0px);
    opacity: 1;
}
.test4:hover  img{
	opacity: 0.5;
	transform:scale(1.2,1.2);
}

.test5{
	background-color: #454545;
}
.test5 figcaption {
	position: absolute;
	top:5%;
	right: 4%;
}
.test5:hover img{
	opacity: 0.5;
	transform:scale(1.2,1.2);
}
.test5 figcaption h2{
	transform: translate(0px,0px);
}
.test5 figcaption p{
	color: pink;
    transform: skew(90deg);
}
.test5:hover figcaption h2{
	transform: translate(0px,-10px);
	transform-delay:0.2s;
	color: black;
}
.test5:hover figcaption p{
	transform: skew(0deg);	
}

.test6{
	background-color:#8B3E2F;
}
.test6 figcaption{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.test6 figcaption div{
	width: 80%;
	height: 80%;
	border:2px solid #fff;
    position: absolute;
    top:10%;
    left: 10%;
    cursor: pointer;
    transform:scale(1.2,1.2);
    opacity: 0;
    transition:all .40s;
}
.test6 figcaption h2{
	margin-top: 30%;
	margin-left: 11%;
	margin-bottom: 5px;
	transform:scale(1.2,1.2) translate(0px,0px);
	opacity: 0;
}
.test6 figcaption p{
	margin-left: 11%;
	transform:scale(1.2,1.2);
	opacity: 0;
	color: #fff;
	font-size: 23px;
}
.test6:hover figcaption div{
    transform:scale(1,1);
    opacity: 1;
    border:2px solid #8B3E2F;
}
.test6:hover img{
    transform:scale(1.2,1.2);
    opacity: 0.8;
}
.test6:hover figcaption h2{
    transform:scale(1,1) translate(0px,-10px);
    opacity: 1;
    color: 	#8B3E2F;
}
.test6:hover figcaption p{
    transform:scale(1,1);
    opacity: 1;
}